.list {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;

  a {
    width: 33px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      border-radius: 50%;
      background: white;
      color: black;
    }

    &:active {
      opacity: 0.8;
    }
    svg:hover {
      fill: #fff;
    }
  }
}

.icon {
  color: white;
}