:root {
  // color
  --color-bg-dark: #191919;
  --color-font: #fff;
  --color-font-h1: #d9d9d9;
  --color-font-h3-h4: #ccc;
  --color-font-h3-sub: #a7a7a7;
  --color-font-a: #a7a7a7;
  --color-font-p: #666;

  // gradients
  --color-gredient-BackgrIm: linear-gradient(90deg, #13b0f5 2.6%, #e70faa);
  --color-gradient-Backgr: linear-gradient(90deg, #13b0f5 2.6%, #e70faa 100%);
}
