.popup {
  position: fixed;
  z-index: 99999;
  inset: 0;

  display: none;

  background-color: rgb(25 25 25 / 90%);
}

.open {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
}
